body{
    position: absolute;
    background-image: url('FONODOJUEGOSOLIMPICOS.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.cajaPadre{
    position: relative;
    
    width: 100%;
    height: 1340px;
}

h1{
    font-size: 20px;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

.titulo{
    font-size: 40px;
    color: aliceblue;
}

.conte1{
    position: relative;
    background-color:gray ;
    width: 400px;
    height: 300px;
    border: white 3px solid;

}

.b1{
    position: absolute;
    top: 50px;
    margin-left: 50px;
    width: 300px;
    height: 200px;
}

.conte2{
    position: relative;
    background-color:gray ;
    width: 400px;
    height: 300px;
    top: -304px;
    margin-left: 450px;
    border: white 3px solid;

}

.b2{
    position: absolute;
    top: 50px;
    margin-left: 50px;
    width: 300px;
    height: 200px;

}

.conte3{
    position: relative;
    background-color:gray ;
    width: 400px;
    height: 300px;
    top: -608px;
    margin-left: 900px;
    border: white 3px solid;

}

.b3{
    position: absolute;
    width: 300px;
    height: 200px;
    top: 50px;
    margin-left: 50px;
}

.conte4{
    position: relative;
    background-color:gray ;
    width: 400px;
    height: 300px;
    top: -570px;
    border: white 3px solid;

}

.b4{
    position: absolute;
    top: 50px;
    margin-left: 50px ;
    width: 300px;
    height: 200px;
}

.conte5{
    position: relative;
    background-color:gray ;
    width: 400px;
    height: 300px;
    top: -874px;
    margin-left: 450px;
    border: white 3px solid;

}

.b5{
   
    position: absolute;
    top: 50px;
    margin-left: 50px ;
    width: 300px;
    height: 200px;
 }

.conte6{
    position: relative;
    background-color:gray ;
    width: 400px;
    height: 300px;
    top: -1175px;
    margin-left: 900px;
    border: white 3px solid;

}

.b6{
    position: absolute;
    top: 50px;
    margin-left: 50px ;
    width: 300px;
    height: 200px;

}

.conte7{
    position: relative;
    background-color:gray ;
    width: 400px;
    height: 300px;
    top: -1140px;
    border: white 3px solid;

}

.b7{
    position: absolute;
    top: 50px;
    margin-left: 50px ;
    width: 300px;
    height: 200px;

}

.conte8{
    position: relative;
    background-color:gray ;
    width: 400px;
    height: 300px;
    top: -1443px;
    margin-left: 450px;
    border: white 3px solid;

}

.b8{
    position: absolute;
    top: 50px;
    margin-left: 50px ;
    width: 300px;
    height: 200px;

}

.conte9{
    position: relative;
    background-color:gray ;
    width: 400px;
    height: 300px;
    top: -1746px;
    margin-left: 900px;
    border: white 3px solid;

}

.b9{
    position: absolute;
    top: 50px;
    margin-left: 50px ;
    width: 300px;
    height: 200px;

}

.conte10{
    position: relative;
    background-color:gray ;
    width: 400px;
    height: 300px;
    top: -1710px;
    border: white 3px solid;

}

.b10{
    position: absolute;
    top: 50px;
    margin-left: 50px ;
    width: 300px;
    height: 200px;

}

.conte11{
    position: relative;
    background-color:gray ;
    width: 400px;
    height: 300px;
    top: -2014px;
    margin-left: 450px;
    border: white 3px solid;

}

.b11{
    position: absolute;
    top: 50px;
    margin-left: 50px ;
    width: 300px;
    height: 200px;

}

.conte12{
    position: relative;
    background-color:gray ;
    width: 400px;
    height: 300px;
    top: -2317px;
    margin-left: 900px;
    border: white 3px solid;

}

.b12{

    position: absolute;
    top: 50px;
    margin-left: 50px ;
    width: 300px;
    height: 200px;

}

.mnu{
    position: relative;
   
   width: 100%;
   height: 200px;
}

ul{
    position: relative;
   
    list-style: none;
    text-align: center;
}

li{
    
    position: relative;
    top: -30px;
    color: black;
    font-size: 20px;
    background-color: beige;
    display: inline-block;
    padding: 15px;
    justify-items: center ;
    align-items: center;
    text-align: center;
    text-indent: 40px;
    border-radius: 5%;
    border:black 2px solid;
    top: 6px;

}

a:active{
    background: rgb(34,105,195);
    background: linear-gradient(0deg, rgba(34,105,195,1) 0%, rgba(213,253,45,1) 100%);
}

a:hover{
    box-shadow: 3px 4px 0px #1fed52;
    border: black 2px solid;
}