body{
    background-color: aliceblue;
}

.my-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .my-button:hover {
    background-color: #45a049;
  }
  
  .my-button:active {
    background-color: #3e8e41;
  }

  .info{
    position: relative;
    background: rgb(9,36,0);
background: linear-gradient(90deg, rgba(9,36,0,1) 27%, rgba(9,9,121,1) 57%, rgba(0,212,255,1) 94%);
    width: 100%;
    height: auto;
  }

  .uno{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
  }